## Import

In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('car_price_prediction.csv')

In [51]:
df.head()

,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005,6,Automatic,4x4,04-May,Left wheel,Silver,12
1,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3.0,192000,6,Tiptronic,4x4,04-May,Left wheel,Black,8
2,8467,879,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000,4,Variator,Front,04-May,Right-hand drive,Black,2
3,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966,4,Automatic,4x4,04-May,Left wheel,White,0
4,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901,4,Automatic,Front,04-May,Left wheel,Silver,4

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15725 entries, 0 to 19236
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price             15725 non-null  int64
 1   Levy              15725 non-null  int64
 2   Manufacturer      15725 non-null  object
 3   Model             15725 non-null  object
 4   Prod. year        15725 non-null  int64
 5   Category          15725 non-null  object
 6   Leather interior  15725 non-null  object
 7   Fuel type         15725 non-null  object
 8   Engine volume     15725 non-null  float64
 9   Mileage           15725 non-null  int64
 10  Cylinders         15725 non-null  int64
 11  Gear box type     15725 non-null  object
 12  Drive wheels      15725 non-null  object
 13  Doors             15725 non-null  object
 14  Wheel             15725 non-null  object
 15  Color             15725 non-null  object
 16  Airbags           15725 non-null  int64
dtypes: float64(1), int64(6), object(10)
memory usage: 2.2+ MB

In [20]:
df.isnull().sum()

Price               0
Levy                0
Manufacturer        0
Model               0
Prod. year          0
Category            0
Leather interior    0
Fuel type           0
Engine volume       0
Mileage             0
Cylinders           0
Gear box type       0
Drive wheels        0
Doors               0
Wheel               0
Color               0
Airbags             0
dtype: int64

In [17]:
df.drop(['ID'], axis=1,inplace=True)
print(f'Data after dropping col "ID" has  {df.shape[1]} columns.')

Data after dropping col "ID" has  17 columns.

In [19]:
print("Unique values in Levy\n",df['Levy'].unique())

Unique values in Levy
 ['1399' '1018' '-' '862' '446' '891' '761' '751' '394' '1053' '1055'
 '1079' '810' '2386' '1850' '531' '586' '1249' '2455' '583' '1537' '1288'
 '915' '1750' '707' '1077' '1486' '1091' '650' '382' '1436' '1194' '503'
 '1017' '1104' '639' '629' '919' '781' '530' '640' '765' '777' '779' '934'
 '769' '645' '1185' '1324' '830' '1187' '1111' '760' '642' '1604' '1095'
 '966' '473' '1138' '1811' '988' '917' '1156' '687' '11714' '836' '1347'
 '2866' '1646' '259' '609' '697' '585' '475' '690' '308' '1823' '1361'
 '1273' '924' '584' '2078' '831' '1172' '893' '1872' '1885' '1266' '447'
 '2148' '1730' '730' '289' '502' '333' '1325' '247' '879' '1342' '1327'
 '1598' '1514' '1058' '738' '1935' '481' '1522' '1282' '456' '880' '900'
 '798' '1277' '442' '1051' '790' '1292' '1047' '528' '1211' '1493' '1793'
 '574' '930' '1998' '271' '706' '1481' '1677' '1661' '1286' '1408' '1090'
 '595' '1451' '1267' '993' '1714' '878' '641' '749' '1511' '603' '353'
 '877' '1236' '1141' '397' '784' '1024' '1357' '1301' '770' '922' '1438'
 '753' '607' '1363' '638' '490' '431' '565' '517' '833' '489' '1760' '986'
 '1841' '1620' '1360' '474' '1099' '978' '1624' '1946' '1268' '1307' '696'
 '649' '666' '2151' '551' '800' '971' '1323' '2377' '1845' '1083' '694'
 '463' '419' '345' '1515' '1505' '2056' '1203' '729' '460' '1356' '876'
 '911' '1190' '780' '448' '2410' '1848' '1148' '834' '1275' '1028' '1197'
 '724' '890' '1705' '505' '789' '2959' '518' '461' '1719' '2858' '3156'
 '2225' '2177' '1968' '1888' '1308' '2736' '1103' '557' '2195' '843'
 '1664' '723' '4508' '562' '501' '2018' '1076' '1202' '3301' '691' '1440'
 '1869' '1178' '418' '1820' '1413' '488' '1304' '363' '2108' '521' '1659'
 '87' '1411' '1528' '3292' '7058' '1578' '627' '874' '1996' '1488' '5679'
 '1234' '5603' '400' '889' '3268' '875' '949' '2265' '441' '742' '425'
 '2476' '2971' '614' '1816' '1375' '1405' '2297' '1062' '1113' '420'
 '2469' '658' '1951' '2670' '2578' '1995' '1032' '994' '1011' '2421'
 '1296' '155' '494' '426' '1086' '961' '2236' '1829' '764' '1834' '1054'
 '617' '1529' '2266' '637' '626' '1832' '1016' '2002' '1756' '746' '1285'
 '2690' '1118' '5332' '980' '1807' '970' '1228' '1195' '1132' '1768'
 '1384' '1080' '7063' '1817' '1452' '1975' '1368' '702' '1974' '1781'
 '1036' '944' '663' '364' '1539' '1345' '1680' '2209' '741' '1575' '695'
 '1317' '294' '1525' '424' '997' '1473' '1552' '2819' '2188' '1668' '3057'
 '799' '1502' '2606' '552' '1694' '1759' '1110' '399' '1470' '1174' '5877'
 '1474' '1688' '526' '686' '5908' '1107' '2070' '1468' '1246' '1685' '556'
 '1533' '1917' '1346' '732' '692' '579' '421' '362' '3505' '1855' '2711'
 '1586' '3739' '681' '1708' '2278' '1701' '722' '1482' '928' '827' '832'
 '527' '604' '173' '1341' '3329' '1553' '859' '167' '916' '828' '2082'
 '1176' '1108' '975' '3008' '1516' '2269' '1699' '2073' '1031' '1503'
 '2364' '1030' '1442' '5666' '2715' '1437' '2067' '1426' '2908' '1279'
 '866' '4283' '279' '2658' '3015' '2004' '1391' '4736' '748' '1466' '644'
 '683' '2705' '1297' '731' '1252' '2216' '3141' '3273' '1518' '1723'
 '1588' '972' '682' '1094' '668' '175' '967' '402' '3894' '1960' '1599'
 '2000' '2084' '1621' '714' '1109' '3989' '873' '1572' '1163' '1991'
 '1716' '1673' '2562' '2874' '965' '462' '605' '1948' '1736' '3518' '2054'
 '2467' '1681' '1272' '1205' '750' '2156' '2566' '115' '524' '3184' '676'
 '1678' '612' '328' '955' '1441' '1675' '3965' '2909' '623' '822' '867'
 '3025' '1993' '792' '636' '4057' '3743' '2337' '2570' '2418' '2472'
 '3910' '1662' '2123' '2628' '3208' '2080' '3699' '2913' '864' '2505'
 '870' '7536' '1924' '1671' '1064' '1836' '1866' '4741' '841' '1369'
 '5681' '3112' '1366' '2223' '1198' '1039' '3811' '3571' '1387' '1171'
 '1365' '1531' '1590' '11706' '2308' '4860' '1641' '1045' '1901']

In [22]:
df['Levy'] = pd.to_numeric(df['Levy'], errors='coerce')

df['Levy']

0        1399.0
1        1018.0
2           NaN
3         862.0
4         446.0
          ...
19232       NaN
19233     831.0
19234     836.0
19235    1288.0
19236     753.0
Name: Levy, Length: 19237, dtype: float64

In [23]:
df['Cylinders'] = df['Cylinders'].astype(int)
df['Cylinders']

0        6
1        6
2        4
3        4
4        4
        ..
19232    4
19233    4
19234    4
19235    4
19236    4
Name: Cylinders, Length: 19237, dtype: int64

In [24]:
df['Engine volume'].unique()

array(['3.5', '3', '1.3', '2.5', '2', '1.8', '2.4', '4', '1.6', '3.3',
       '2.0 Turbo', '2.2 Turbo', '4.7', '1.5', '4.4', '3.0 Turbo',
       '1.4 Turbo', '3.6', '2.3', '1.5 Turbo', '1.6 Turbo', '2.2',
       '2.3 Turbo', '1.4', '5.5', '2.8 Turbo', '3.2', '3.8', '4.6', '1.2',
       '5', '1.7', '2.9', '0.5', '1.8 Turbo', '2.4 Turbo', '3.5 Turbo',
       '1.9', '2.7', '4.8', '5.3', '0.4', '2.8', '3.2 Turbo', '1.1',
       '2.1', '0.7', '5.4', '1.3 Turbo', '3.7', '1', '2.5 Turbo', '2.6',
       '1.9 Turbo', '4.4 Turbo', '4.7 Turbo', '0.8', '0.2 Turbo', '5.7',
       '4.8 Turbo', '4.6 Turbo', '6.7', '6.2', '1.2 Turbo', '3.4',
       '1.7 Turbo', '6.3 Turbo', '2.7 Turbo', '4.3', '4.2', '2.9 Turbo',
       '0', '4.0 Turbo', '20', '3.6 Turbo', '0.3', '3.7 Turbo', '5.9',
       '5.5 Turbo', '0.2', '2.1 Turbo', '5.6', '6', '0.7 Turbo',
       '0.6 Turbo', '6.8', '4.5', '0.6', '7.3', '0.1', '1.0 Turbo', '6.3',
       '4.5 Turbo', '0.8 Turbo', '4.2 Turbo', '3.1', '5.0 Turbo', '6.4',
       '3.9', '5.7 Turbo', '0.9', '0.4 Turbo', '5.4 Turbo', '0.3 Turbo',
       '5.2', '5.8', '1.1 Turbo'], dtype=object)

In [44]:
df['Engine volume'] = pd.to_numeric(df['Engine volume'], errors='coerce') #non-numeric will be replaced with NaN
df['Engine volume']

0        3.500000
1        3.000000
2        1.300000
3        2.500000
4        1.300000
           ...
19230    1.800000
19232    2.206404
19233    2.400000
19234    2.000000
19236    2.400000
Name: Engine volume, Length: 15725, dtype: float64

In [26]:
df['Mileage'] = df['Mileage'].str.replace(' km', '').str.replace(',', '')
df['Mileage']=df['Mileage'] .astype(int)
df['Mileage']

0        186005
1        192000
2        200000
3        168966
4         91901
          ...
19232    300000
19233    161600
19234    116365
19235     51258
19236    186923
Name: Mileage, Length: 19237, dtype: int64

In [28]:
df.drop_duplicates(inplace=True)
print(f'Data after dropping duplicated values has {df.shape[0]} rows ') #rows-=313

Data after dropping duplicated values has 15725 rows

In [30]:
df['Levy'].fillna( df['Levy'].mean(), inplace=True)
df['Levy'] = df['Levy'].astype(int)# convert from float to int

#  replace Null values in "Engine volume" with mean of "Engine volume" col
df['Engine volume'].fillna( df['Engine volume'].mean(), inplace=True)

C:\Users\Asus\AppData\Local\Temp\ipykernel_18920\3108651767.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Levy'].fillna( df['Levy'].mean(), inplace=True)
C:\Users\Asus\AppData\Local\Temp\ipykernel_18920\3108651767.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Engine volume'].fillna( df['Engine volume'].mean(), inplace=True)

In [31]:
df.isnull().sum()

Price               0
Levy                0
Manufacturer        0
Model               0
Prod. year          0
Category            0
Leather interior    0
Fuel type           0
Engine volume       0
Mileage             0
Cylinders           0
Gear box type       0
Drive wheels        0
Doors               0
Wheel               0
Color               0
Airbags             0
dtype: int64

In [52]:
df.head(100)

,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.500000,186005,6,Automatic,4x4,04-May,Left wheel,Silver,12
1,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3.000000,192000,6,Tiptronic,4x4,04-May,Left wheel,Black,8
2,8467,879,HONDA,FIT,2006,Hatchback,No,Petrol,1.300000,200000,4,Variator,Front,04-May,Right-hand drive,Black,2
3,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.500000,168966,4,Automatic,4x4,04-May,Left wheel,White,0
4,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.300000,91901,4,Automatic,Front,04-May,Left wheel,Silver,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,32929,879,BMW,428 Sport Line,2013,Coupe,Yes,Petrol,2.206404,160000,4,Automatic,Rear,02-Mar,Left wheel,Black,12
96,18817,879,NISSAN,Patrol,1990,Jeep,No,Diesel,2.206404,333333,4,Manual,Rear,04-May,Left wheel,Black,0
97,4234,879,HONDA,Civic,1997,Hatchback,Yes,Petrol,1.400000,0,4,Manual,Front,02-Mar,Left wheel,Blue,6
98,15053,879,MERCEDES-BENZ,E 320,2004,Sedan,Yes,Petrol,3.200000,214000,6,Tiptronic,Rear,04-May,Left wheel,Grey,8
99,15458,966,HYUNDAI,Genesis,2009,Coupe,Yes,Petrol,2.000000,123346,4,Automatic,Front,04-May,Left wheel,Black,4

In [41]:
df.describe()

,Price,Levy,Prod. year,Engine volume,Mileage,Cylinders,Airbags
count,1.572500e+04,15725.000000,15725.000000,15725.000000,1.572500e+04,15725.000000,15725.000000
mean,2.027944e+04,879.281081,2010.518919,2.206404,1.836421e+06,4.483561,6.543339
std,2.106390e+05,366.592186,6.012122,0.759608,5.353248e+07,1.134466,4.067728
min,1.000000e+00,87.000000,1939.000000,0.000000,0.000000e+00,1.000000,0.000000
25%,7.527000e+03,746.000000,2008.000000,1.800000,6.657500e+04,4.000000,4.000000
50%,1.416600e+04,879.000000,2012.000000,2.000000,1.210000e+05,4.000000,6.000000
75%,2.336400e+04,879.000000,2014.000000,2.500000,1.800000e+05,4.000000,12.000000
max,2.630750e+07,11714.000000,2020.000000,20.000000,2.147484e+09,16.000000,16.000000

In [53]:
features = ['Prod. year','Mileage','Levy','Engine volume']
x = df[features]
y = df['Price']
x.shape, y.shape

((15725, 4), (15725,))

In [56]:
from sklearn.model_selection import train_test_split 
x_train, x_test, y_train, y_test = train_test_split (x,y,random_state=70)
y_test.shape

(3932,)

## Model Regresi Linear

In [57]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train,y_train)
pred = lr.predict(x_test)

In [58]:
score = lr.score(x_test,y_test)
print('akurasi model regresi linier =', score)

akurasi model regresi linier = -0.0010341219263687584

## inputan linear

In [59]:
## Prod. year = 2010,Mileage = 186005,Levy = 1399,Engine volume = 2.5
input_data = np.array([[2010,186005,1399,2.5]]) 

prediction = lr.predict(input_data)
print('estimasi harga mobil dengan satuan Dollar : ', prediction)

estimasi harga mobil dengan satuan Dollar :  [20099.32910206]

c:\Users\Asus\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [60]:
import pickle 
filename = 'estimasi_mobil.sav'
pickle.dump(lr,open(filename,'wb'))